html {
    background: darkmagenta;
    min-height: 100vh;
    min-width: 100%;
    padding: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
  
.header {
    background: darkmagenta;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*flex-shrink: 0;*/
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 900px;
    min-width: 100%;

    flex: 59;
}
  
.footer {
    background: #eee;
    color: darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-shrink: 0;*/
    padding-top: 15px;
    padding-bottom: 15px;

    flex: 50
}
  
.sidebar {
    width: 140px;
    background: royalblue;
    padding-right: 100px;
    flex-shrink: 0;
}

.sidebar input {
    margin-top: 25px;
    margin-left: 18px;
}

.sidebar div {
    color: white;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    margin-top: 10px;
    margin-left: 18px;
    white-space: nowrap;
}
  
.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    box-sizing: border-box;
    height: 284px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    font-size: 14px; 
    padding-bottom: 150px;
    overflow-y: scroll;
    display: flex;
    flex-flow: row nowrap;
}

#id01 {
    display: flex;
    flex-flow: row wrap;
}

.card button {
    padding: 5px;
    height: 30px;
    margin-top: -10px;
    margin-right: -15px;
    margin-left: auto;
}

.usertext {
    width: 250px;
}


.mid-row {
    display: flex;
    flex: 648;
    /*min-width: 100%;*/
    overflow-x: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: lightgrey;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.card-box {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    background-color: white;
    margin: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

li {
    margin-bottom: 10px;
    margin-left: -25px;
}









.header03 {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    box-sizing: border-box;
    height: 60px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /*flex: none;*/
    margin-right: 0px;

    flex: 59;
}
  
  .profile-image03 {
    background: rebeccapurple;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}
  
  .logo03 {
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
    margin: 10px;
}
  
  .iden {
    margin-left: auto;
    font-size: 20px;
    color: rebeccapurple;
    margin-top: 5px;
  }

  .IDgroup {
    margin-left: auto;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .notifications03 {
    border: none;
    border-radius: 8px;
    background: rebeccapurple;
    color: white;
    box-sizing: border-box;
    height: 35px;
    padding: 8px 24px;
    margin-left: 10px;
    margin-right: 10px;
}
  
  .header03 a {
    text-decoration: none;
    color: rebeccapurple;
    margin: 10px;
}

  .header03 a:hover {
    cursor: pointer;
  }
